:root {
    --color-relleno: rgb(172, 172, 239);
    
  }

body{
  
    font-family: Lobster;
    background: linear-gradient(white,rgb(197, 197, 197));
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   --color: white;

    font-size: 20px;
}
.imagen-diseño{

    border-color: var(--color);
    border-width:10px;
    width: 400px;
    height: 500px;
}
#experience{
    font-family: cursive, monospace;

}
#contacto{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#relleno{
    border-color: var(--color-relleno);
    border-width:8px;
    border-style:solid;
    background-color: rgba(252, 252, 13, 0.947);
    
}
#padding{

    padding: 5px 5px 5px 5px;
    background-color: rgba(13, 252, 33, 0.947);
    border-width:5px;
    border-style:double;
}
#padding-info{
    background-color: var(--color-relleno);
}
.nav{
    
    background: white;
    width: 550px;
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
    border-radius: 22px;
    
}
nav > a {
    color:rgb(104, 104, 104);
    text-decoration: none;
    padding:8px 16px;
    border-radius: 22px;
}
nav > a:hover{
    transition: 0.25s;
    background: rgb(18, 18, 19);
    color: white;
}
.contenedor-encabezado {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-top: 25px; /* Espacio superior para separar el nav del borde superior de la ventana */
}
.contenedor-imagen {
    display: flex;
    justify-content: flex-end; /* Centra los elementos horizontalmente */
    margin-top: 25px;
    margin-right: 40px;
    justify-content: space-between;
   filter:  drop-shadow(0 0 15px black)
   
}
.contenedor-parrafo{
    
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea verticalmente los elementos */
    margin-left: 40px;
    }
      
